<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
    <add name="OrdersDb" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=OrdersDb;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="OrdersDir" connectionString="c:\Orders\" />
  </connectionStrings>
</configuration>